@import "tailwindcss";

.btn-pagination {
  @apply border border-gray-400 
    px-0 py-1.5
    sm:px-4 sm:py-2 
    md:px-5 md:py-2.5
    rounded-md 
    font-medium
    hover:bg-gray-600 
    transition-colors 
    duration-200
    text-sm sm:text-base
    min-w-8 sm:min-w-10 md:min-w-11
    shadow-sm
    cursor-pointer;
}

.btn-nextprev {
  @apply m-0 
    p-0 
    flex items-center 
    justify-center
    sm:px-2 sm:py-2 
    md:px-2 md:py-2
    rounded-md 
    bg-gray-200 
    font-medium
    transition-colors 
    duration-200
    text-sm sm:text-base
    min-w-8 sm:min-w-10 md:min-w-11
    shadow-sm;
}
