@import "tailwindcss";

-body {
  width: 100%;
  height: 100%;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-serif: "Montserrat Alternates", serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}
